@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bodyLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  padding-top: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #0b0b0b;
  color: #e5e5e5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  position: relative;
  margin-top: auto;
  width: 100%;
  padding: 20px 40px;
  background: #000;
  color: #999;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.footerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.socialLink {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.discordIcon,
.xIcon,
.instaIcon {
  width: 40px;
  height: auto;
  opacity: 0.85;
  transition:
    opacity 0.2s ease,
    filter 0.2s ease,
    transform 0.2s ease;
}

@media (hover: hover) {
  .socialLink .xIcon:hover {
    opacity: 1;
    transform: translateY(-3%) scale(1.05);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.4));
  }

  .socialLink .discordIcon:hover {
    opacity: 1;
    transform: translateY(-3%) scale(1.05);
    filter: drop-shadow(0 0 8px rgba(88, 101, 242, 0.8));
  }

  .socialLink .instaIcon:hover {
    opacity: 1;
    transform: translateY(-3%) scale(1.05);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.4));
  }
}

@media (max-width: 768px) {
  html,
  body {
    height: auto;
    overflow-y: auto;
  }

  .bodyLayout {
    min-height: 100vh;
    overflow: visible;
  }

  .page {
    flex: 1;
    padding-top: 0;
    min-height: auto;
    overflow: visible;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    gap: 10px;
  }

  .footerLeft {
    align-items: flex-start;
    flex: 1;
    margin-left: -2%;
  }

  .footerLeft p {
    font-size: 10px;
    white-space: nowrap;
  }

  .footerRight {
    justify-content: flex-end;
    flex-shrink: 0; /* Empêche les icônes de s'écraser */
    gap: 10px; /* Espace réduit entre les icônes */
  }

  .discordIcon,
  .xIcon,
  .instaIcon {
    width: clamp(18px, 8vw, 32px);
  }
}

@media (max-width: 300px) {
  .footer {
    padding: 20px 15px;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footerLeft p {
    font-size: 12px;
    white-space: normal;
  }
  .discordIcon,
  .xIcon,
  .instaIcon {
    width: 25px;
  }
}
